[user]
	name = Alberto Cavalcante
	email = 54247214+albertocavalcante@users.noreply.github.com
[includeIf "gitdir:~/<WORK>/"]
    path = ~/.gitconfig-work
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
